# ZJUAM Settings

## ZJUAM Auth Username and Password
Username=3180100001
Password=aaaabbbb

# AppService Settings

## If you want to use a specific wisportalId cookie
## Change the settings below
UseSpecificWisportalId=false
WisportalId=aaaabbbb

# If you're using custom username instead of stuid for zjuam
# set this option
OverrideStuId=false
StuId=3180100001